@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

abbr[epub|type~="se:era"]{
	font-variant: all-small-caps;
}

/* Begin letters */
footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:recipient"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
/* End letters */
